
*.tar
micro-data-lake-master/
prjct/postgres-db-volume/
prjct/postgres/
prjct/pgadmin/
prjct/minio/
prjct/airflow/pluguns/
prjct/airflow/logs/
prjct/airflow/dags/__pycache__/
prjct/airflow/dbt/logs/
prjct/airflow/dbt/crime_spreading/logs/

