
*.tar
micro-data-lake-master/
prjct/postgres-db-volume/
prjct/postgres/
prjct/pgadmin/
prjct/minio/
prjct/airflow/pluguns/
prjct/airflow/logs/
prjct/airflow/dags/__pycache__/
prjct/airflow/dbt/logs/
prjct/airflow/dbt/crime_spreading/logs/
prjct/.ipynb_checkpoints
prjct/.superset
prjct/dbt/crime_spreading/logs
inovis-trino/Infrastructure/airflow/dags/__pycache__
inovis-trino/Infrastructure/airflow/logs
inovis-trino/Infrastructure/conf
inovis-trino/Infrastructure/minio
inovis-trino/Infrastructure/postgres-db-volume
inovis-trino/Infrastructure/postgres-dwh
inovis-trino/Infrastructure/postgres-src