dbt-core
dbt-postgres
Jinja2==2.11.3
SQLAlchemy==1.3.24
Werkzeug==1.0.1
apache-airflow-providers-amazon==5.0.0
apache-airflow-providers-apache-spark==2.0.2
apache-airflow-providers-apache-sqoop==2.0.2
apache-airflow-providers-celery==2.1.0
apache-airflow-providers-docker==2.3.0
apache-airflow-providers-elasticsearch==2.1.0
apache-airflow-providers-google==6.2.0
apache-airflow-providers-jdbc==2.0.1
apache-airflow-providers-mongo==2.2.0
apache-airflow-providers-odbc==2.0.1
apache-airflow-providers-postgres==2.4.0
apache-airflow-providers-redis==2.0.1
apache-airflow-providers-snowflake==2.3.1
apache-airflow-providers-tableau==2.1.2
boto3==1.18.65
boto==2.49.0
botocore==1.21.65
elasticsearch-dbapi==0.2.7
elasticsearch-dsl==7.4.0
elasticsearch==7.13.4
google-ads==14.0.0
google-api-core==1.31.4
google-api-python-client==1.12.8
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-auth==1.35.0
google-cloud-appengine-logging==1.1.0
google-cloud-audit-log==0.2.0
google-cloud-automl==2.5.2
google-cloud-bigquery-datatransfer==3.4.1
google-cloud-bigquery-storage==2.10.1
google-cloud-bigquery==2.31.0
google-cloud-bigtable==1.7.0
google-cloud-build==3.7.1
google-cloud-container==1.0.1
google-cloud-core==1.7.2
google-cloud-datacatalog==3.6.1
google-cloud-dataproc-metastore==1.3.1
google-cloud-dataproc==3.1.1
google-cloud-dlp==1.0.0
google-cloud-kms==2.10.1
google-cloud-language==1.3.0
google-cloud-logging==2.7.0
google-cloud-memcache==1.0.0
google-cloud-monitoring==2.8.0
google-cloud-os-login==2.5.1
google-cloud-pubsub==2.9.0
google-cloud-redis==2.5.0
google-cloud-secret-manager==1.0.0
google-cloud-spanner==1.19.1
google-cloud-speech==1.3.2
google-cloud-storage==1.43.0
google-cloud-tasks==2.7.1
google-cloud-texttospeech==1.0.1
google-cloud-translate==1.7.0
google-cloud-videointelligence==1.16.1
google-cloud-vision==1.0.0
google-cloud-workflows==1.5.0
google-crc32c==1.3.0
google-resumable-media==2.1.0
googleapis-common-protos==1.54.0
numpy==1.20.3
pandas==1.3.5
psycopg2-binary==2.9.2
redis==3.5.3
redshift-connector==2.0.901
snowflake-connector-python==2.7.1
snowflake-sqlalchemy==1.2.4
sshtunnel==0.4.0
tableauserverclient==0.17.0
virtualenv==20.10.0


